<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 </head>
<body>
  <% include global/header %>

  <div id="stats">
    <h2> User Stats</h2>
    <table>
      <tr>
       <th class="top_row">Player Name</th>
       <th class="top_row">Games Played</th>
       <th class="top_row">Wins </th>
       <th class="top_row">Losses </th>
       <th class = "top_row"> Ties </th>
       <th class="top_row">Win Percentage</th>
       <th class="top_row">Rock%</th>
       <th class="top_row">Paper%</th>
       <th class="top_row">Scissors%</th>
     </tr>

      <%for(var i=1;i< user["player"].length-1;i++){%>
         <% if(user["player"][i].total_games>0){ %>
          <tr>
          <td><span class="player_name_span"><%=user["player"][i].name%> </span> </td>
          <td> <%=user["player"][i].total_games%></td>
          <td> <%=user["player"][i].wins%></td>
          <td> <%=user["player"][i].losses%> </td>
          <td> <%=user["player"][i].ties%> </td>
          <td> <%=Math.round((user["player"][i].wins/(user["player"][i].total_games))*100)+"%"%></td>
          <td> <%=Math.round(((user["player"][i].rock)/(user["player"][i].total_games))*100)+"%"%></td>
          <td> <%=Math.round(((user["player"][i].paper)/(user["player"][i].total_games))*100)+"%"%></td>
          <td> <%=Math.round(((user["player"][i].scissors)/(user["player"][i].total_games))*100)+"%"%></td>
          </tr>
          <% } else{ %>
             <tr>
         <td><span class="player_name_span"><%=user["player"][i].name%></span></td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td>0%</td>
         <td>0%</td>
         <td>0%</td>
             </tr>
  <% } %>
          <%}%>
    </table>

    <h3> Villain Stats</h2>
    <table>
      <tr>
       <th class="top_row">Villain name</th>
       <th class="top_row">Games Played</th>
       <th class="top_row">Wins </th>
       <th class="top_row">Losses </th>
       <th class = "top_row"> Ties </th>
       <th class="top_row">Win Percentage</th>
       <th class="top_row">Rock% </th>
       <th class="top_row">Paper% </th>
       <th class="top_row">Scissors% </th>
     </tr>

      <%for (var k=0;k< user["villain"].length;k++){%>
        <% if(user["villain"][k].total_games>0){ %>
          <tr>
          <td><span class="player_name_span"><%=user["villain"][k].name.replace('_', ' ')%> </span> </td>
          <td> <%=user["villain"][k].total_games%></td>
          <td> <%=user["villain"][k].wins%></td>
          <td> <%=user["villain"][k].losses%></td>
          <td> <%=user["villain"][k].ties%> </td>
          <td> <%=Math.round((user["villain"][k].wins/(user["villain"][k].total_games))*100)+"%"%></td>
          <td> <%=Math.round(((user["villain"][k].rock)/(user["villain"][k].total_games))*100)+"%"%></td>
          <td> <%=Math.round(((user["villain"][k].paper)/(user["villain"][k].total_games))*100)+"%"%></td>
          <td> <%=Math.round(((user["villain"][k].scissors)/(user["villain"][k].total_games))*100)+"%"%></td>
          </tr>
          <% } else{ %>
              <tr>
          <td><span class="player_name_span"><%=user["villain"][k].name.replace('_', ' ')%></span></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0%</td>
          <td>0%</td>
          <td>0%</td>
          <td>0%</td>
              </tr>
   <% } %>
          <%}%>
    </table>


    <div id "strategies">
      <ul>

        <li> Manny will randomly throw. </li>
        <li> Spock will randomly throw. </li>
        <li> The Magician will randomly throw.</li>
        <li> Harry will randomly throw.</li>
        <li> Pixie will always throw paper. </li>
        <li> Bones will randomly throw.</li>
        <li> Mickey will always throw scissors.</li>
        <li> Gato will tend to win more often using his cat intuition. </li>
        <li> Mr. Modern will tend to tie. </li>
        <li> The Boss will always win #BOSS.</li>
        <li> Comic Hans will always lose.</li>
        <li> Regal will always throw rock.</li>


    </div>


    <form action="/playagain" method="Get" align= center>
       <input type="submit" name="Play Again" class = "header_button" value="Play Again!">
    </form>
  </div>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
